.Sidebar {
  grid-area: Sidebar;
  background-color: var(--sidebar-bg);
  margin: 0 0 var(--spacing-sm) var(--spacing-sm);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: var(--spacing-sm);
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: -1;
  font-size: var(--sidebar);
  color: var(--header-bg);
}

.SidebarNav {
  padding: 0;
  margin: 0;
}
