:root {
  --primaryColor: blue;
  --secondaryColor: red;
  --backgroundColor: black;
}


.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 80px 120px 1fr 60px;
  grid-auto-flow: row;
  grid-template-areas:
      "Header"
      "Sidebar"
      "HeroSection"
      "Footer";
}

@media screen and (min-width: 700px) {
  .App {
    display: grid;
    grid-template-columns: 1.3fr 1.8fr 1.9fr;
    grid-template-rows: 80px 1fr 60px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header Header Header"
      "Sidebar HeroSection HeroSection"
      "Footer Footer Footer";
  }
}